body {
  --normi: #ffa600;
  margin: 0;
  font-family: Arial, sans-serif;
  background: white;
  color: white;
  overflow-x: hidden;
  overflow-y: auto;
}

.animated-block {
  text-align: center;
  position: relative;
  padding: 2rem;
  margin: 200;
  background: #f9f5ef;
  border-radius: 20px;
  box-shadow: 0 4px 10px #ffa60045
}

.animated-block h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
  color: #0a3d96;
}

.animated-block p {
  margin-top: 1rem;
  font-size: 1.2rem;
  opacity: 0.8;
  color: #0a3d96;
}

.contact-button {
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  color: white;
  background-color: #6a0dad;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact-button:hover {
  background-color: #5a0ca0;
}

.colorG {
  color: var(--normi);
  /* background: -webkit-linear-gradient(yellow, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}
