body {
  --colorOrange: #ffa600;
  --colorBlue2: #3c70ba;
  --colorGray: #8a8a8e;
  margin: 0;
  font-family: Arial, sans-serif;
  background: white;
  color: white;
  overflow-x: hidden;
  overflow-y: auto;
}

.animatedBlock {
  text-align: center;
  position: relative;
  padding: 2rem;
  margin: 200;
  background: #f9f5ef;
  border-radius: 20px;
  box-shadow: 0 4px 10px #ffa60045;
}

.animatedBlock h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
  color: #0a3d96;
}

.animatedBlock p {
  margin-top: 1rem !important;
  font-size: 1.2rem;
  opacity: 0.8;
  color: #0a3d96;
}

.colorG {
  color: var(--colorOrange);
  /* background: -webkit-linear-gradient(yellow, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.h3-box {
  justify-self: left;
}

.p-box {
  justify-self: normal;
  text-align: left;
}

.one {
  font-size: xx-large;
  color: #fe0222;
}
.two {
  font-size: xx-large;
  color: #02e1fe;
}
.three {
  font-size: xx-large;
  color: #0afe02;
}
